@import "tailwindcss";

.leaflet-top,
.leaflet-bottom {
  z-index: 1200;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-synthesis: none;
}
